/* Custom font */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Bitter');

body {
    background-color: #ffffff;

    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    margin-bottom: 4em;
}

.content {
    margin: 0 auto;
    max-width: 45%;
}

/* ---- Titles ---- */

h1, h2, h3, h4, h5, h6 {
    font-family: "Bitter";
}

h1 {
    text-align: center;
}

/* ---- Links ---- */

h2 a, h3 a, h4 a, h5 a, h6 a {
    color: black;
}

a {
    text-decoration: none;
    color: #ad280b;
}

a:hover, a:active {
    text-decoration: underline;
}

/* ---- Page Info ---- */

nav {
    text-align: left;
    font-family: "Bitter";
    font-size: 0.85em;
}

nav ul {
    padding: 0;
}

nav li {
    list-style: none;
    display: inline-block;
}

nav li a {
    color: black;
}

nav li a:hover {
    color: #ad280b;
    text-decoration: underline;
}

nav li:not(:first-child):before {
    content: " · ";
}

/* ---- NavBar ---- */

.navbar {
    position: fixed;
    display: block;
    float: right;
    z-index: 1;
    background: #f6f6f7;
    top: 110px;
    overflow: auto;
    max-height: 700px;
    right: 3%;
    width: 20%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.125);
    border: 1px solid #cecfd1;
    border-radius: 4px;
    font-size: 1em;
}

.navbar .nav_title {
    color: #fff;
    background: #ad280b;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0;
    font-weight: bold;
    padding: 0.25rem 0.75rem;
}

.navbar ul {
    padding: 0;
    margin: 0;
}

.section, .subsection {
    list-style: outside none none !important;
}

.section a, .subsection a {
    box-sizing: border-box;
    display: block;
    padding: 0.25rem 0.75rem;
    border-bottom: 1px solid #cecfd1;
}

.section a {
    font-weight: bold;
}

.subsection a {
    padding-left:1.25rem;
}

/* ---- Responsive Design ---- */

/* Smartphones */
@media (max-width: 750px) {
    .content {
        max-width: 90%;
    }

    .navbar{
        position: static;
        float: none;
        width: auto;
        max-width: 90%;
        max-height: none;
        top: 0px;
        margin: 0 auto;
    }
}

/* Tablets */
@media (min-width: 751px) and (max-width: 1100px) {
    .content {
        max-width: 70%;
    }

    .navbar{
        position: static;
        float: none;
        width: auto;
        max-width: 70%;
        max-height: none;
        top: 0px;
        margin: 0 auto;
    }
}
