{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/css/index.css">
{% endblock %}

{% block header %}
    <aside>
        <img src="/img/me.png" alt="me!"/>
    </aside>
    <div class="contact">
        <h1>Florian Amsallem</h1>
        <h4>flomonster</h4>
        <a href="https://github.com/flomonster"><i class="fa fa-github fa-fw" aria-hidden="true"></i></a> · <a href="mailto:florian.amsallem@epita.fr"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></a> · <strong><a href="/upload/resume.pdf">My resume</a></strong>
    </div>
{% endblock %}
